turisticka_agencija/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="main-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="main-config" api="resource::599e3452-9a64-426b-b06c-a93fd81715de:turistickaagencija:1.0.0:raml:zip:main.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="cded6504-3e72-47c5-a7ea-309ae1ea0e33">
  <db:generic-connection url="jdbc:postgresql://localhost:5432/anypoint" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
</db:config>

	<flow name="main-main">
        <http:listener config-ref="main-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="main-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="main-console">
        <http:listener config-ref="main-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="main-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\turisticka_agencija\(agencijaID):application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="agencijaID">attributes.uriParams.'agencijaID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Turistička agencija je ažurirana!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\aranzman\(aranzmanID):application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="aranzmanID">attributes.uriParams.'aranzmanID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Aranžman je ažuriran!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\destinacija\(destinacijaID):application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="destinacijaID">attributes.uriParams.'destinacijaID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Destinacija je azurirana!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\hotel\(hotelID):application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="hotelID">attributes.uriParams.'hotelID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Hotel je azuriran!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\turisticka_agencija\(agencijaID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="agencijaID">attributes.uriParams.'agencijaID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Turistička agencija je izbrisana!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\aranzman\(aranzmanID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="aranzmanID">attributes.uriParams.'aranzmanID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Aranžman je izbrisan!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\destinacija\(destinacijaID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="destinacijaID">attributes.uriParams.'destinacijaID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Destinacija izbrisana!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\hotel\(hotelID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="hotelID">attributes.uriParams.'hotelID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Hotel izbrisan!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\aranzman:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    aranzmanID: 1,
    ukupna_cena: 28000,
    realizovan: true,
    datum_realizacije: "2023-07-22",
    hotel: {
      hotelID: 1,
      naziv: "Hotel Cezar",
      broj_zvezdica: 4,
      ima_bazen: true,
      opis: "elegantan i moderan hotel",
      destinacija: {
        destinacijaID: 1,
        mesto: "Pariz",
        drzava: "Francuska",
        opis: "Grad svetlosti i ljubavi"
      }
    },
    agencija: {
      turistickaAgencijaID: 1,
      naziv: "Travel Point",
      adresa: "Bulevar Mihaila Pupina 10a",
      kontakt: "+381 11 213 81 45"
    }
  }, 
  {
    aranzmanID: 2,
    ukupna_cena: 35000,
    realizovan: false,
    datum_realizacije: "2023-12-10",
    hotel: {
      hotelID: 2,
      naziv: "Hotel Plaza",
      broj_zvezdica: 5,
      ima_bazen: true,
      opis: "elegantan i moderan hotel",
      destinacija: {
        destinacijaID: 2,
        mesto: "Njujork",
        drzava: "SAD",
        opis: "Grad koji nikad ne spava"
      }
    },
    agencija: {
      turistickaAgencijaID: 2,
      naziv: "Adria Tour",
      adresa: "Gospodar Jevremova 15",
      kontakt: "+381 11 263 81 22"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\destinacija:main-config">
		<http:listener doc:name="Listener" doc:id="d29ae28c-2c31-4645-889d-f4da0ba1ef0f" config-ref="main-httpListenerConfig" path="/api/destinacija"/>
		<db:select doc:name="Select" doc:id="06d4a355-2953-4e9e-9e41-3e05e780c70f" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from destinacija]]></db:sql>
		</db:select>
		<ee:transform doc:name="Object to JSON">
    <ee:message>
      <ee:set-payload><![CDATA[%dw 2.0
        output application/json
        ---
        payload]]></ee:set-payload>
    </ee:message>
  </ee:transform>
  
  <!-- Slanje JSON odgovora putem HTTP-a -->
    </flow>
    <flow name="get:\hotel:main-config">
		<http:listener doc:name="Listener" doc:id="c6961256-81e0-4082-8f26-d275a1e3c0e8" config-ref="main-httpListenerConfig" path="/api/hotel">
			<ee:repeatable-file-store-stream bufferUnit="MB" />
		</http:listener>
		<db:select doc:name="Select" doc:id="dc50abb6-87dd-4695-a8e3-d8b7b80c7f62" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from hotel where ima_bazen = :ima_bazen]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	ima_bazen: attributes.uriParams.ima_bazen
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Object to JSON" doc:id="807c4224-8baf-474c-80d9-922c3a345264" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
        output application/json
        ---
        payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\turisticka_agencija:main-config">
		<http:listener doc:name="Listener" doc:id="154cca17-1d96-44f6-a88a-33ca9f7753a6" config-ref="main-httpListenerConfig" path="/api/turisticka_agencija"/>
		<db:select doc:name="Select" doc:id="d46fbfc3-b177-45db-8ee0-4b07bf813202" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from turisticka_agencija]]></db:sql>
		</db:select>
		<ee:transform doc:name="Object to JSON" doc:id="fe1ab1ec-0106-40db-82e7-a08ff5754e77" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
        output application/json
        ---
        payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\turisticka_agencija\(agencijaID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="agencijaID">attributes.uriParams.'agencijaID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  turistickaAgencijaID: 1,
  naziv: "Travel Point",
  adresa: "Bulevar Mihaila Pupina 10a",
  kontakt: "+381 11 213 81 45"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\aranzman\(aranzmanID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="aranzmanID">attributes.uriParams.'aranzmanID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  aranzmanID: 1,
  ukupna_cena: 28000,
  realizovan: true,
  datum_realizacije: "2023-07-22",
  hotel: {
    hotelID: 1,
    naziv: "Hotel Cezar",
    broj_zvezdica: 4,
    ima_bazen: true,
    opis: "elegantan i moderan hotel",
    destinacija: {
      destinacijaID: 1,
      mesto: "Pariz",
      drzava: "Francuska",
      opis: "Grad svetlosti i ljubavi"
    }
  },
  agencija: {
    turistickaAgencijaID: 1,
    naziv: "Travel Point",
    adresa: "Bulevar Mihaila Pupina 10a",
    kontakt: "+381 11 213 81 45"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\destinacija\(destinacijaID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="destinacijaID">attributes.uriParams.'destinacijaID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<db:select doc:name="Select" doc:id="4ea554c4-a674-400f-8605-8870747bbce1" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from destinacija]]></db:sql>
		</db:select>
    </flow>
    <flow name="get:\hotel\(hotelID):main-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="hotelID">attributes.uriParams.'hotelID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  hotelID: 1,
  naziv: "Hotel Cezar",
  broj_zvezdica: 4,
  ima_bazen: false,
  opis: "elegantan i moderan hotel",
  destinacija: {
    destinacijaID: 1,
    mesto: "Pariz",
    drzava: "Francuska",
    opis: "Grad svetlosti i ljubavi"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\aranzman:application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Aranžman je upisan!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\destinacija:application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Destinacija upisana!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\hotel:application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Hotel upisan!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\turisticka_agencija:application\json:main-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Turistička agencija upisana!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
